<header class="bg-blue-800 py-5">
    <nav class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
            <img src="../../../assets/img/logo_Sant.png" alt="" class="w-12 h-12 rounded-full mr-2">
            <h1 class="text-white text-lg">Club Voleibol Sant Andreu</h1>
        </div>
        <div class="menu-icon">
            <ul class="flex">
                <li class="mx-2"><a routerLink="contenido" class="text-white hover:text-yellow-400">Inicio</a></li>
                <li class="mx-2"><a routerLink="products" class="text-white hover:text-yellow-400">Productos</a></li>
                <li class="mx-2"><a routerLink="products/agregar" class="text-white hover:text-yellow-400">Admin</a></li>
            </ul>
        </div>
    </nav>
</header>
